
.over__light.animaHide: .info__container

	a.close(href="javascript:void(0)") close

	.info
		h2 resumen

		h3 interactive web developer en OSG (Digital)

		h3 summary
		p Creative Frontend Developer passionate about web development scripting languages (HTML, CSS and  Javascript), with outstanding experience developing standards-compliant & browsers-compatible websites and applications in deadline-oriented environments. &#43; years of experience related to development of  solutions and web graphics, High Skills for organization and planning of interactive projects. As a Professional Graphic Designer I have the capability to integrate the usability and design giving a holistic approach to my work.
		
		h2 experience

		.columns__containers
			.column

				h3 Interactive Web Developer/ Front End at OSG (Digital)
				span June 2013 – Present (2 years 1 month)
				p.
					Create different web Sites satisfying the client’s needs using the following specialities: 
					• Scripting languages: HTML, CSS and Javascript. Experience building responsive websites 
					• Javascript Libraries: JQuery, jquery-template, bx-slider, cycle2, hadejs, grunt • CSS processors (Less, SASS). 
					• Cross-browser compatibility.

				h3 Interactive Web Developer at Freelance Web Developer
				span August 2011 – June 2013 (1 year 11 months)
				p.
					Provide services to different accounts developing roadmap for the improvements and come up with realistic solutions for web sites, always while considering the client's deadlines, budget and expertise limitations.
			.column
				h3 Interactive Web Designer / Interactive Web Develop at McCann Erickson
				span March 2010 – July 2011 (1 year 5 months)
				p.
					Strong knowledge creating and designing an interactive experience across multiple digital platforms and
					 scripting languages: HTML, CSS and Javascript, experience with Adobe Photoshop, Illustrator, After Effects
					 and image optimization for web.

				h3 Senior Web Designer/ Front-End at digiway
				span January 2008 – February 2010 (2 years 2 months)
				p.
					Development of web applications for desktop and mobile devices. Experience building responsive websites, HTML, CSS3, JQuery, JavaScript and OOP. High Expertise in Responsive Frameworks (preferred Foundation) and CSS processors (Less, SASS, etc.)
//-END.content info general

#render

//-footer
footer: ul
	li: a(href="mailto:jcmm.info@gmail.co") &#43; jcmm.info@gmail.co
	li: a(href="http://www.flickr.com/photos/theancamo/6689727009/in/photostream/lightbox/" target="_blank") &#43; flickr
	li: a(href="http://jcmm.co/resumen/resumenJuanMoreno.pdf" target="_blank") &#43; resumen
	li: a(href="https://co.linkedin.com/pub/juan-moreno/39/a14/b22" target="_blank") &#43; linkedin
	
script(src="https://code.jquery.com/jquery-3.1.1.min.js", integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8", crossorigin="anonymous")

	
script(src='assets/js/vendor/three.min.js')
script(src='assets/js/app/app.js')
			