head

  meta(charset="UTF-8")
  meta(name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0")

  meta(property="og:title" content="BLOG juan moreno")
  meta(property="og:description" content="this is only something I like to make")
  meta(property="og:image" content="https://ju4nmoreno.github.io/jcmm/assets/images/ext.jpg")
  meta(property="og:url" content="https://goo.gl/81QAU1")

  title BLOG juan moreno

  link(rel="shortcut icon" href="assets/images/favicon.ico")
  link(href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css')
  link(href="assets/css/master.css" rel="stylesheet")