@mixin breakpoint($class) {
    @if $class==ml {
        @media (min-width: 440px) {
            @content;
        }
    }
    
    @else if $class==md {
        @media (min-width: 768px) {
            @content;
        }
    }
    @else if $class==lg {
        @media (min-width: 960px) {
            @content;
        }
    }
    @else if $class==xl {
        @media (min-width: 1921px) {
            @content;
        }
    }
}

html{
	height: 100%;
	position: relative;
}


body{
	font-size: 20px;
	height: 100%;

	&.init{
		background-color: #aaa;
		transition: all 0.7s;
	}
}
h1{
	font-size: 3vw;
}

h2{
	font-size: 10vw;
	opacity: 0;
	letter-spacing: 50px;
	
	@include breakpoint(ml){
		font-size: 6vw;
	}
}

h3 {
	//width: 100%;
	//position: absolute;
	//margin-top: 80px;
	color: white;
	opacity: 0;
}

h4 {
	font-family: 'Tahoma';
	font-size: 3vw;
	text-transform: uppercase;
	font-weight: bold;
	color: #999;
	width: 100%;
	display: block; 
}

@media (max-width: 767px){
	//h2, h3 { display: none;}
}


.over__light,
footer{
	display: none;
}

main {
	width: 0;
	opacity: 0;
	min-height: 100%;
	background-color: #333;
	position: relative;
	overflow: hidden; 
}

.main__anima{
	width: 100%;
	opacity: 1;
	background-color: #000;
	transition:
		width 1.5s 0.5s, 
		opacity 1s 0.5s,
		background-color 1s 1.5s;

	.container__text{
		h2{
			opacity:1;
			letter-spacing: 3px;
			transition: opacity 2s 6s, letter-spacing 2s 6s;
		}

		h3 {
			opacity: 0.3;
			transition: opacity 1s 7s;
		}
	}
}

.container__text{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width:100%;
	height:100%;
	position: absolute;
	z-index: 2;
}

.info__container{
	position: absolute;
	top: 0;
	right: 0;
	width: 0%;
	height: 100%;
	background-color: white;
	padding: 5vw 0;
	z-index:3;

	transition: width 0.5s;

	&.anima{
		width: 50%;
		transform: width 0.5s;
	}

	h3{
		color: black;
		opacity: 1;
		font-size: 1.5vw;
	}
}

.showInfo{
	width: 3.5vw;
	height: 40px;
	top: 0;
	left: -3.5vw;
	position: absolute;
	display: flex;
	flex-direction:column;
	justify-content:space-around;
	align-items: flex-start;
	cursor:pointer;
	background-color: #FFF;
	padding: 3px 0 3px 6px; 
	//border-top: 0.5vw solid white;

	transition: background-color 0.5s,
							width 0.4s;

	&:hover{
		background-color: #333;
		transition: background-color 0.5s,
								width 0.6s;
	}

	&.active{
		width: calc(100% + 3.5vw);
		background-color: #333;
		transition: background-color 0.5s,
								width 0.6s;
		
		.showInfo__item{
			background-color: #999;
		}

		&:hover{
			background-color: #fff;
			transition: background-color 0.5s,
									width 0.6s;
		}
	}

	@at-root #{&}__item{
		display: block;
		width: 100%;
		height: 20px;
		cursor:pointer;
		background-color: #333;
	}
}

.wrapper__container{
	width: 80%;
	margin: 0 auto;
	font-size: 1.2vw;
	overflow:hidden;
}

.container {
	width:40vw;
	padding-bottom: 1vw;
	border-bottom: 1px solid #333; 
}

.pattern{
	width: 100%;
	height: 100%;
	position: absolute;
	background: url(../images/pattern.png);

	-moz-box-shadow:    inset 0 0 70vw 10vw #000000;
  -webkit-box-shadow: inset 0 0 70vw 10vw #000000;
  box-shadow:         inset 0 0 70vw 10vw #000000;
}











